@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  @apply bg-gray-100 text-gray-900;
}

/* Custom scroll for sidebar */
.scrollbar-thin::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-full hover:bg-gray-300 transition-colors;
}
